{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<style type='text/css'>

.login-outer {
  display: table;
  height: 100%;
  width: 100%;
}

.login {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.login .logo {
  position: relative;
}

.login .logo i {
  font-size: 200px;
  color: #eee;
}

.login .logo h1 {
  position: absolute;
  top: 60px;
  z-index: 20;
  color: #888;
  width: 100%;
  text-align: center;
}

.errorlist {
  color: red;
  list-style-type: none;
  width: 200px;
  margin: auto;
  padding: 0;
  font-size: 12px;
}

</style>

<div class="login-outer">
  <div class="login">
    <div class="logo">
      <h1>{% trans 'Open Library' %}</h1>
      <i class="fa fa-globe"></i>
    </div>

    {% block inner %}

    {% endblock %}
  </div>
</div>
{% endblock %}
