{% load i18n %}
<html>
  <head>
    {% block head %}{% endblock %}
    <script src="/static/js/fetch.js"></script>
    <script src="/static/js/promise.js"></script>
    <style type="text/css">
    .header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: white;
      border-bottom: 1px solid #555;
      z-index: 10;
      height: 30px;
      overflow: hidden;
    }

    .header i {
      color: #555;
    }

    .header .title {
      color: #555;
      display: inline-block;
    }

    .header .right {
      position: absolute;
      right: 10px;
      top: 1px;
    }

    .header .left {
      position: absolute;
      left: 10px;
      top: 6px;
    }

    .content-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    body {
      overflow: hidden;
      margin: 0;
      padding: 0;
    }

    button {
      color: #00adff;
      text-decoration: none;
      border: none;
      background: none;
      font-size: 15px;
    }

    a, a:link, a:visited, a:active {
      color: #00adff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    * {
      font-family: Arial;
    }

    .lang form {
      display: inline-block;
    }

    .lang {
      display: inline-block;
    }
    </style>
    <link href="/static/font-awesome/css/font-awesome.min.css" type="text/css" rel='stylesheet' />
    <link rel='icon' type="image/png" href='/static/image/icon.png' />
    <title>{% trans 'Open Library' %}</title>
  </head>

  <body>
    <div class="header">
      <div class="left">
        <i class="fa fa-globe"></i>
        {% if not user.is_anonymous %}
        <a href="/modules/">{% trans 'Modules' %}</a>
        {% endif %}
      </div>
      <div class="right">
        <div class="lang">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% for language in LANGUAGES %}
          {% if LANGUAGE_CODE != language.0 %}
          <form method="POST" action="/i18n/setlang/">
            {% csrf_token %}
            {% get_language_info for language.0 as lang %}
            <input type="hidden" name="language" value="{{ language.0 }}">
            <button type="submit">{{ lang.name_local }}</button>
          </form>
          {% endif %}
          {% endfor %}
        </div>
        {% if not user.is_anonymous %}
        <a href="/logout/">{% trans 'Logout' %}</a>
        {% endif %}
      </div>
    </div>
    <div class="content-container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>