{% extends 'base_branded.html' %}
{% load i18n %}

{% block inner %}
<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">{% trans 'Log In' %}</button>
</form>
{% endblock %}