{% extends 'base_branded.html' %}
{% load i18n %}

{% block inner %}
<h1>{% trans 'Modules' %}</h1>

{% for module in modules %}
{% if module.active %}
<div>
  <a href="/modules/{{module.slug}}/">{{module.name}}</a>
</div>
{% endif %}
{% endfor %}
{% endblock %}