{% extends 'base.html' %}
{% load i18n %}

{% block head %}
<style type="text/css">
  .iframe-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>
{% endblock %}

{% block content %}
<div class="iframe-container">
  <iframe src="/static/{{module.slug}}{{module.entry_point}}" id="frame"></iframe>
</div>

<script type="text/javascript">
  window.frame = document.getElementById('frame');

  var refreshAccess = function (path) {
    if (window.interval) {
      clearInterval(window.interval);
    }

    createAccess(path).then(function (interval) {
      window.interval = interval;
    });
  };

  var createAccess = function (path) {
    return new Promise(function (resolve, reject) {
      fetch('/api/accesses/', {
        method: 'post',
        body: JSON.stringify({
          path: path,
          module: {{module.id}}
        }),
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(function (res) {
        return res.json();
      }).then(function (json) {
        var interval = setInterval(function () {
          fetch('/api/accesses/' + json.id + '/', {
            method: 'put',
            credentials: 'same-origin',
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(function (res) {
            return res.json();
          }).then(function (json) {

          });
        }, 1000);

        resolve(interval);
      });
    });
  };
</script>
{{ injection | safe }}
{% endblock %}
